$yellow:#fffb00;
$red: #fc0303;
$green: #03fc03;
$gray:#9e9696;
$blue:#1ec3c9;
$white: #ffffff;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin padding($top, $right, $bottom, $left){
	padding: $top $right $bottom $left;
}

%background_colors{
	background-color: $gray;
	color: $white;
}

.jumbotron {
	@extend %background_colors;
	@include margenes(50px, 15px);
}

footer {
	@include padding (10px, 10px, 0, 10px);
	@extend %background_colors;
	@include margenes(20px, 0px);
	margin-left: 10px;
	margin-right: 10px;
}
.card-rest{
	flex: 1 300px;
	@include margenes(10px, 0px);
	margin-bottom:30px;
}

.btn-pedido{
	width: 100%;


}

.footer-adress-icon{
	@include padding (0px, 10px, 0px, 0px);
}

.responsive-banner {
	margin: 80px auto;
	width: 40%;
	min-width: 230px;
	max-width: 330px;
	position: relative;
	height: auto;
	min-height: 300px;
	max-height: 500px;
	border-radius: 10px;
	overflow: hidden;
	background-image: linear-gradient(to bottom right, $yellow, $gray);
}
.container-envelope {
	@include padding (35px, 15px, 0px, 0px);
	color: $yellow;
}


.tab-content{
	@include padding (10px, 0px, 0px, 0px);
}
